<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edocid_default</key>
	<real>17.0</real>
	<key>edocid_take_data_title</key>
	<real>24.0</real>
	<key>edocid_take_data_subtitle</key>
	<real>18.0</real>
	<key>edocid_take_data_input_field_hint</key>
	<real>17.0</real>
	<key>edocid_take_data_input_field_text</key>
	<real>15.0</real>
	<key>edocid_take_data_input_field_border</key>
	<real>0.5</real>
	<key>edocid_take_data_input_field_corner_radius</key>
	<real>5.0</real>
	<key>edocid_take_data_button_accept_corner_radius</key>
	<real>15.0</real>
	<key>edocid_take_data_button_accept_text</key>
	<real>17.0</real>
	<key>edocid_take_data_button_accept_width</key>
	<real>0.893</real>
	<key>edocid_recap_data_form_title</key>
	<real>18.0</real>
	<key>edocid_recap_data_form_subtitle</key>
	<real>14.0</real>
	<key>edocid_recap_data_form_section_text</key>
	<real>17.0</real>
	<key>edocid_recap_data_form_input_field_text</key>
	<real>17.0</real>
	<key>edocid_recap_data_form_input_field_hint</key>
	<real>11.0</real>
	<key>edocid_recap_data_form_input_field_corner_radius</key>
	<real>5.0</real>
	<key>edocid_recap_data_form_input_field_border</key>
	<real>0.5</real>
	<key>edocid_recap_data_form_button_accept_corner_radius</key>
	<real>15.0</real>
	<key>edocid_recap_data_form_button_accept_text</key>
	<real>17.0</real>
	<key>edocid_recap_data_form_button_accept_width</key>
	<real>0.9</real>
	<key>doc_capture_default</key>
	<real>17.0</real>
	<key>doc_capture_selection_title</key>
	<real>20.0</real>
	<key>doc_capture_selection_button_accept_corner_radius</key>
	<real>15.0</real>
	<key>doc_capture_selection_button_accept_text</key>
	<real>17.0</real>
	<key>doc_capture_selection_button_accept_width</key>
	<real>0.9</real>
	<key>doc_capture_instructions_title</key>
	<real>20.0</real>
	<key>doc_capture_instructions_button_accept_corner_radius</key>
	<real>15.0</real>
	<key>doc_capture_instructions_button_accept_text</key>
	<real>17.0</real>
	<key>doc_capture_instructions_button_accept_width</key>
	<real>0.9</real>
	<key>doc_capture_camera_title</key>
	<real>18.0</real>
	<key>doc_capture_camera_subtitle</key>
	<real>16.0</real>
	<key>doc_capture_camera_button_shutter_width</key>
	<real>0.5</real>
	<key>doc_capture_camera_button_shutter_corner_radius</key>
	<real>15.0</real>
	<key>doc_capture_camera_alternative_layout_height</key>
	<real>0.5</real>
	<key>doc_capture_check_title</key>
	<real>24.0</real>
	<key>doc_capture_check_subtitle</key>
	<real>15.0</real>
	<key>doc_capture_check_button_accept_text</key>
	<real>17.0</real>
	<key>doc_capture_check_button_discard_text</key>
	<real>17.0</real>
	<key>doc_capture_check_button_accept_width</key>
	<real>0.9</real>
	<key>doc_capture_check_button_discard_width</key>
	<real>0.9</real>
	<key>doc_capture_check_button_accept_corner_radius</key>
	<real>15.0</real>
	<key>doc_capture_check_button_discard_corner_radius</key>
	<real>15.0</real>
	<key>doc_capture_check_modal_corner_radius</key>
	<real>40.0</real>
	<key>assisted_selfie_default</key>
	<real>17.0</real>
	<key>assisted_selfie_start_title</key>
	<real>18.0</real>
	<key>assisted_selfie_start_subtitle</key>
	<real>16.0</real>
	<key>assisted_selfie_start_button_width</key>
	<real>0.9</real>
	<key>assisted_selfie_start_button_text</key>
	<real>17.0</real>
	<key>assisted_selfie_start_button_corner_radius</key>
	<real>15.0</real>
	<key>assisted_selfie_liveness_title</key>
	<real>18.0</real>
	<key>assisted_selfie_liveness_subtitle</key>
	<real>16.0</real>
	<key>assisted_selfie_photo_title</key>
	<real>18.0</real>
	<key>assisted_selfie_photo_subtitle</key>
	<real>16.0</real>
	<key>assisted_selfie_check_title</key>
	<real>24.0</real>
	<key>assisted_selfie_check_subtitle</key>
	<real>15.0</real>
	<key>assisted_selfie_check_button_accept_text</key>
	<real>17.0</real>
	<key>assisted_selfie_check_button_discard_text</key>
	<real>17.0</real>
	<key>assisted_selfie_check_button_accept_width</key>
	<real>0.9</real>
	<key>assisted_selfie_check_button_discard_width</key>
	<real>0.9</real>
	<key>assisted_selfie_check_button_accept_corner_radius</key>
	<real>15.0</real>
	<key>assisted_selfie_check_button_discard_corner_radius</key>
	<real>15.0</real>
	<key>assisted_selfie_check_modal_corner_radius</key>
	<real>40.0</real>
	<key>assisted_selfie_oval_width</key>
	<real>0.8</real>
	<key>assisted_selfie_oval_aspect_ratio</key>
	<real>1.33</real>
</dict>
</plist>