<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assisted_selfie_background</key>
	<string>#00000000</string>
	<key>assisted_selfie_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_start_title</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_start_subtitle</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_start_button_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_start_button</key>
	<string>#00000000</string>
	<key>assisted_selfie_photo_alert_processing</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_photo_countdown_title</key>
	<string>#00FF00</string>
	<key>assisted_selfie_photo_countdown_counter</key>
	<string>#00FF00</string>
	<key>assisted_selfie_photo_warnings</key>
	<string>#FF0000</string>
	<key>assisted_selfie_liveness_title</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_liveness_subtitle</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_liveness_title_intra_step</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_liveness_subtitle_intra_step</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_check_background</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_check_modal_background</key>
	<string>#000000</string>
	<key>assisted_selfie_check_title</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_check_subtitle</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_check_button_accept</key>
	<string>#00000000</string>
	<key>assisted_selfie_check_button_accept_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_check_button_discard</key>
	<string>#00000000</string>
	<key>assisted_selfie_check_button_discard_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_check_buttons_back_exit</key>
	<string>#000000</string>
	<key>assisted_selfie_photo_zoom_background</key>
	<string>#000000</string>
	<key>assisted_selfie_buttons_back_exit</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_internal_check_background</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_internal_check_modal_background</key>
	<string>#000000</string>
	<key>assisted_selfie_internal_check_title</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_internal_check_subtitle</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_internal_check_button_discard</key>
	<string>#00000000</string>
	<key>assisted_selfie_internal_check_button_discard_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_internal_check_buttons_back_exit</key>
	<string>#000000</string>
	<key>assisted_selfie_dialog_background</key>
	<string>#000000</string>
	<key>assisted_selfie_dialog_title</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_dialog_message</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_dialog_button_accept</key>
	<string>#00000000</string>
	<key>assisted_selfie_dialog_button_discard</key>
	<string>#00000000</string>
	<key>assisted_selfie_dialog_button_accept_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_dialog_button_discard_text</key>
	<string>#FFFFFF</string>
	<key>assisted_selfie_border_oval_color_ok</key>
	<string>#00FF00</string>
	<key>assisted_selfie_border_oval_color_ko</key>
	<string>#FF0000</string>
	<key>doc_capture_background</key>
	<string>#FFFFFF</string>
	<key>doc_capture_text</key>
	<string>#000000</string>
	<key>doc_capture_selection_background</key>
	<string>#FFFFFF</string>
	<key>doc_capture_selection_title</key>
	<string>#000000</string>
	<key>doc_capture_selection_button_accept</key>
	<string>#00000000</string>
	<key>doc_capture_selection_button_accept_text</key>
	<string>#000000</string>
	<key>doc_capture_selection_button_discard</key>
	<string>#00000000</string>
	<key>doc_capture_selection_buttons_back_exit</key>
	<string>#000000</string>
	<key>doc_capture_selection_button_discard_text</key>
	<string>#000000</string>
	<key>doc_capture_selection_nations_documents_choose</key>
	<string>#000000</string>
	<key>doc_capture_instructions_background</key>
	<string>#FFFFFF</string>
	<key>doc_capture_instructions_title</key>
	<string>#000000</string>
	<key>doc_capture_instructions_button_accept</key>
	<string>#00000000</string>
	<key>doc_capture_instructions_button_accept_text</key>
	<string>#000000</string>
	<key>doc_capture_instructions_buttons_back_exit</key>
	<string>#000000</string>
	<key>doc_capture_instructions_button_discard</key>
	<string>#00000000</string>
	<key>doc_capture_instructions_button_discard_text</key>
	<string>#000000</string>
	<key>doc_capture_camera_button_shutter_text</key>
	<string>#FFFFFF</string>
	<key>doc_capture_camera_button_shutter</key>
	<string>#00000000</string>
	<key>doc_capture_camera_title</key>
	<string>#FFFFFF</string>
	<key>doc_capture_camera_subtitle</key>
	<string>#FFFFFF</string>
	<key>doc_capture_camera_buttons_back_exit</key>
	<string>#FFFFFF</string>
	<key>doc_capture_camera_detector_outline_found</key>
	<string>#00FF00</string>
	<key>doc_capture_camera_detector_outline_not_found</key>
	<string>#FF0000</string>
	<key>doc_capture_camera_autoshoot_countdown_counter</key>
	<string>#FFFFFF</string>
	<key>doc_capture_check_background</key>
	<string>#FFFFFF</string>
	<key>doc_capture_check_modal_background</key>
	<string>#FFFFFF</string>
	<key>doc_capture_check_title</key>
	<string>#000000</string>
	<key>doc_capture_check_subtitle</key>
	<string>#000000</string>
	<key>doc_capture_check_button_accept</key>
	<string>#00000000</string>
	<key>doc_capture_check_button_accept_text</key>
	<string>#000000</string>
	<key>doc_capture_check_button_discard</key>
	<string>#00000000</string>
	<key>doc_capture_check_button_discard_text</key>
	<string>#000000</string>
	<key>doc_capture_check_buttons_back_exit</key>
	<string>#000000</string>
	<key>doc_capture_dialog_background</key>
	<string>#000000</string>
	<key>doc_capture_dialog_title</key>
	<string>#FFFFFF</string>
	<key>doc_capture_dialog_message</key>
	<string>#FFFFFF</string>
	<key>doc_capture_dialog_button_accept</key>
	<string>#00000000</string>
	<key>doc_capture_dialog_button_discard</key>
	<string>#00000000</string>
	<key>doc_capture_dialog_button_accept_text</key>
	<string>#FFFFFF</string>
	<key>doc_capture_dialog_button_discard_text</key>
	<string>#FFFFFF</string>
	<key>edocid_background</key>
	<string>#FFFFFF</string>
	<key>edocid_font</key>
	<string>#000000</string>
	<key>edocid_take_data_button_exit</key>
	<string>#000000</string>
	<key>edocid_take_data_button_accept</key>
	<string>#FFFFFF</string>
	<key>edocid_take_data_input_field_text</key>
	<string>#000000</string>
	<key>edocid_take_data_input_field_background</key>
	<string>#FFFFFF</string>
	<key>edocid_take_data_input_field_border</key>
	<string>#AAAAAA</string>
	<key>edocid_take_data_input_field_edit_icon</key>
	<string>#000000</string>
	<key>edocid_take_data_input_field_hint</key>
	<string>#000000</string>
	<key>edocid_take_data_button_accept_text</key>
	<string>#000000</string>
	<key>edocid_date_picker_button_ok</key>
	<string>#FFFFFF</string>
	<key>edocid_date_picker_button_clear</key>
	<string>#FFFFFF</string>
	<key>edocid_date_picker_button_ok_text</key>
	<string>#000000</string>
	<key>edocid_date_picker_button_clear_text</key>
	<string>#000000</string>
	<key>edocid_camera_buttons_back_exit</key>
	<string>#FFFFFF</string>
	<key>edocid_dialog_background</key>
	<string>#000000</string>
	<key>edocid_dialog_title</key>
	<string>#FFFFFF</string>
	<key>edocid_dialog_message</key>
	<string>#FFFFFF</string>
	<key>edocid_dialog_button_accept</key>
	<string>#00000000</string>
	<key>edocid_dialog_button_discard</key>
	<string>#00000000</string>
	<key>edocid_dialog_button_accept_text</key>
	<string>#FFFFFF</string>
	<key>edocid_dialog_button_discard_text</key>
	<string>#FFFFFF</string>
	<key>edocid_recap_data_form_title</key>
	<string>#000000</string>
	<key>edocid_recap_data_form_subtitle</key>
	<string>#000000</string>
	<key>edocid_recap_data_form_background</key>
	<string>#FFFFFF</string>
	<key>edocid_recap_data_form_section</key>
	<string>#AAAAAA</string>
	<key>edocid_recap_data_form_section_text</key>
	<string>#555555</string>
	<key>edocid_recap_data_form_button_accept_text</key>
	<string>#000000</string>
	<key>edocid_recap_data_form_button_accept</key>
	<string>#00000000</string>
	<key>edocid_recap_data_form_input_field_hint</key>
	<string>#000000</string>
	<key>edocid_recap_data_form_input_field_text</key>
	<string>#000000</string>
	<key>edocid_recap_data_form_input_field_background</key>
	<string>#FFFFFF</string>
	<key>edocid_recap_data_form_input_field_border</key>
	<string>#AAAAAA</string>
</dict>
</plist>